@model IEnumerable<Orange.Models.User>

<h2>Users List</h2>

@Html.ActionLink("Create New User", "Create")
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Email</td>
            
        </tr>
    }
</table>

